<a href="https://colab.research.google.com/github/RamKaushikR/Book-Recommendation-System/blob/master/content_based.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [2]:
import numpy as np
import pandas as pd
from sklearn.metrics.pairwise import linear_kernel
from sklearn.feature_extraction.text import TfidfVectorizer

In [3]:
df = pd.read_csv('/content/gdrive/My Drive/Book Recommendation/description.csv', encoding = 'latin-1')
df.head()

,book_id,name,description
0,4833.0,The Glass Castle,"A tender, moving tale of unconditional love in..."
1,590.0,"Night (The Night Trilogy, #1)","Born into a Jewish ghetto in Hungary, as a chi..."
2,4264.0,"Angela's Ashes (Frank McCourt, #1)",Imbued on every page with Frank McCourt's asto...
3,3361.0,"Eat, Pray, Love","A celebrated writer's irresistible, candid, an..."
4,4535.0,Into Thin Air: A Personal Account of the Mount...,A bank of clouds was assembling on the not-so-...

In [4]:
df.isna().sum()

book_id         7
name           20
description    21
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143 entries, 0 to 142
Data columns (total 3 columns):
book_id        136 non-null float64
name           123 non-null object
description    122 non-null object
dtypes: float64(1), object(2)
memory usage: 3.4+ KB

In [6]:
df.describe()

           book_id
count   136.000000
mean   2355.970588
std    1544.353802
min       7.000000
25%     966.750000
50%    2348.500000
75%    3579.750000
max    4971.000000

In [7]:
tfidf = TfidfVectorizer(stop_words = 'english')

In [8]:
df['description'] = df['description'].fillna('')

In [9]:
df_matrix = tfidf.fit_transform(df['description'])
df_matrix.shape

(143, 4186)

In [10]:
cos_sim = linear_kernel(df_matrix, df_matrix)

In [11]:
indices = pd.Series(df['name'].index)

In [12]:
def recommend(index, cosine_similarity = cos_sim):
  id = indices[index]
  
  similarity_score = list(enumerate(cosine_similarity[id]))
  similarity_score = sorted(similarity_score, key = lambda x: x[1], reverse = True)
  
  book_index = [book[0] for book in similarity_score]
  
  book_list = pd.DataFrame(columns = df.columns)
  
  book_list = df.iloc[book_index[1:]]
  book_list['book_id'] = book_list['book_id'].values.astype(int)
  
  return book_list

In [13]:
id = int(input('Book id of the book you like '))
id = df[df['book_id'] == id].index.values.astype(int)[0]
recommended_books = recommend(id)

Book id of the book you like 4885

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':

In [14]:
recommended_books.head(6)

,book_id,name,description
129,4758,Spiritual Astrology: A Path to Divine Awakening,The first book to link the influence of the pl...
69,4772,The Words of Gandhi,Gandhi's ideas are as meaningful today as they...
19,4484,Man's Search for Meaning,Psychiatrist Viktor Frankl's memoir has rivete...
138,3549,The Scientist as Rebel (New York Review Books),"From Galileo to todays amateur astronomers, s..."
3,3361,"Eat, Pray, Love","A celebrated writer's irresistible, candid, an..."
131,1963,Walking the Walk (w/DVD): Getting Fit with Faith,Leslie Sansone teaches readers how to use thei...

In [15]:
id = int(input('Book id of the book you like '))
id = df[df['book_id'] == id].index.values.astype(int)[0]
recommended_books = recommend(id)

Book id of the book you like 4758

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':

In [16]:
recommended_books.head(6)

,book_id,name,description
33,4885,"A Partner in Holiness: Deepening Mindfulness, ...","""The lessons in Kedushat Levi were not origina..."
46,993,Oregon High: A Climbing Guide to Nine Cascade ...,OREGON HIGH : A Climbing Guide to Nine Cascade...
95,1085,Brainstorm: The Power and Purpose of the Teena...,"In this groundbreaking book, the bestselling a..."
19,4484,Man's Search for Meaning,Psychiatrist Viktor Frankl's memoir has rivete...
69,4772,The Words of Gandhi,Gandhi's ideas are as meaningful today as they...
24,847,The Last Lecture,Based on the extraordinary final lecture by Ca...