<a href="https://colab.research.google.com/github/RamKaushikR/Book-Recommendation-System/blob/master/content_based.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [0]:
import numpy as np
import pandas as pd
from sklearn.metrics.pairwise import linear_kernel
from sklearn.feature_extraction.text import TfidfVectorizer

In [3]:
df = pd.read_csv('/content/gdrive/My Drive/Book Recommendation/description.csv', encoding = 'latin-1')
df.head()

,book_id,name,description
0,4833.0,The Glass Castle,"A tender, moving tale of unconditional love in..."
1,590.0,"Night (The Night Trilogy, #1)","Born into a Jewish ghetto in Hungary, as a chi..."
2,4264.0,"Angela's Ashes (Frank McCourt, #1)",Imbued on every page with Frank McCourt's asto...
3,3361.0,"Eat, Pray, Love","A celebrated writer's irresistible, candid, an..."
4,4535.0,Into Thin Air: A Personal Account of the Mount...,A bank of clouds was assembling on the not-so-...

In [4]:
df.isna().sum()

book_id         7
name           20
description    21
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143 entries, 0 to 142
Data columns (total 3 columns):
book_id        136 non-null float64
name           123 non-null object
description    122 non-null object
dtypes: float64(1), object(2)
memory usage: 3.4+ KB

In [6]:
df.describe()

           book_id
count   136.000000
mean   2355.970588
std    1544.353802
min       7.000000
25%     966.750000
50%    2348.500000
75%    3579.750000
max    4971.000000

In [0]:
tfidf = TfidfVectorizer(stop_words = 'english')

In [0]:
df['description'] = df['description'].fillna('')

In [9]:
df_matrix = tfidf.fit_transform(df['description'])
df_matrix.shape

(143, 4186)

In [0]:
cos_sim = linear_kernel(df_matrix, df_matrix)

In [0]:
indices = pd.Series(df['name'].index)

In [0]:
def recommend(index, cosine_similarity = cos_sim):
  id = indices[index]
  
  similarity_score = list(enumerate(cosine_similarity[id]))
  similarity_score = sorted(similarity_score, key = lambda x: x[1], reverse = True)
  
  book_index = [book[0] for book in similarity_score]
  
  book_list = pd.DataFrame(columns = df.columns)
  
  book_list['book_id'] = df['book_id'].iloc[book_index[1:]].values.astype(int)
  book_list['name'] = df['name'].iloc[book_index[1:]]
  book_list['description'] = df['description'].iloc[book_index[1:]]
  
  return book_list

In [13]:
id = int(input('Book id of the book you like '))
id = df[df['book_id'] == id].index.values.astype(int)[0]
recommended_books = recommend(id)

Book id of the book you like 4885

In [14]:
recommended_books.head(6)

,book_id,name,description
0,4758,The Glass Castle,"A tender, moving tale of unconditional love in..."
1,4772,"Night (The Night Trilogy, #1)","Born into a Jewish ghetto in Hungary, as a chi..."
2,4484,"Angela's Ashes (Frank McCourt, #1)",Imbued on every page with Frank McCourt's asto...
3,3549,"Eat, Pray, Love","A celebrated writer's irresistible, candid, an..."
4,3361,Into Thin Air: A Personal Account of the Mount...,A bank of clouds was assembling on the not-so-...
5,1963,Tuesdays with Morrie,"Maybe it was a grandparent, or a teacher or a ..."

In [15]:
id = int(input('Book id of the book you like '))
id = df[df['book_id'] == id].index.values.astype(int)[0]
recommended_books = recommend(id)

Book id of the book you like 4758

In [16]:
recommended_books.head(6)

,book_id,name,description
0,4885,The Glass Castle,"A tender, moving tale of unconditional love in..."
1,993,"Night (The Night Trilogy, #1)","Born into a Jewish ghetto in Hungary, as a chi..."
2,1085,"Angela's Ashes (Frank McCourt, #1)",Imbued on every page with Frank McCourt's asto...
3,4484,"Eat, Pray, Love","A celebrated writer's irresistible, candid, an..."
4,4772,Into Thin Air: A Personal Account of the Mount...,A bank of clouds was assembling on the not-so-...
5,847,Tuesdays with Morrie,"Maybe it was a grandparent, or a teacher or a ..."